In [1]:
import numpy as np
import pandas as pd
from collections import Counter
import mysql.connector

In [11]:
question_dict = {
  "MONDAY": ['GREEN', 'YELLOW', 'GREEN', 'BROWN', 'BLUE', 'PINK', 'BLUE', 'YELLOW', 'ORANGE', 'CREAM', 'ORANGE', 'RED', 'WHITE', 'BLUE', 'WHITE', 'BLUE', 'BLUE', 'BLUE', 'GREEN'],
  "TUESDAY": ['ARSH', 'BROWN', 'GREEN', 'BROWN', 'BLUE', 'BLUE', 'BLEW', 'PINK', 'PINK', 'ORANGE', 'ORANGE', 'RED', 'WHITE', 'BLUE', 'WHITE', 'WHITE', 'BLUE', 'BLUE', 'BLUE'],
  "WEDNESDAY": ['GREEN', 'YELLOW', 'GREEN', 'BROWN', 'BLUE', 'PINK', 'RED', 'YELLOW', 'ORANGE', 'RED', 'ORANGE', 'RED', 'BLUE', 'BLUE', 'WHITE', 'BLUE', 'BLUE', 'WHITE', 'WHITE'],
  "THURSDAY": ['BLUE', 'BLUE', 'GREEN', 'WHITE', 'BLUE', 'BROWN', 'PINK', 'YELLOW', 'ORANGE', 'CREAM', 'ORANGE', 'RED', 'WHITE', 'BLUE', 'WHITE', 'BLUE', 'BLUE', 'BLUE', 'GREEN'],
  "FRIDAY": ['GREEN', 'WHITE', 'GREEN', 'BROWN', 'BLUE', 'BLUE', 'BLACK', 'WHITE', 'ORANGE', 'RED', 'RED', 'RED', 'WHITE', 'BLUE', 'WHITE', 'BLUE', 'BLUE', 'BLUE', 'WHITE']
}

In [12]:
question_data = pd.DataFrame(question_dict)

In [77]:
question_data

    MONDAY TUESDAY WEDNESDAY THURSDAY  FRIDAY
0    GREEN    ARSH     GREEN     BLUE   GREEN
1   YELLOW   BROWN    YELLOW     BLUE   WHITE
2    GREEN   GREEN     GREEN    GREEN   GREEN
3    BROWN   BROWN     BROWN    WHITE   BROWN
4     BLUE    BLUE      BLUE     BLUE    BLUE
5     PINK    BLUE      PINK    BROWN    BLUE
6     BLUE    BLEW       RED     PINK   BLACK
7   YELLOW    PINK    YELLOW   YELLOW   WHITE
8   ORANGE    PINK    ORANGE   ORANGE  ORANGE
9    CREAM  ORANGE       RED    CREAM     RED
10  ORANGE  ORANGE    ORANGE   ORANGE     RED
11     RED     RED       RED      RED     RED
12   WHITE   WHITE      BLUE    WHITE   WHITE
13    BLUE    BLUE      BLUE     BLUE    BLUE
14   WHITE   WHITE     WHITE    WHITE   WHITE
15    BLUE   WHITE      BLUE     BLUE    BLUE
16    BLUE    BLUE      BLUE     BLUE    BLUE
17    BLUE    BLUE     WHITE     BLUE    BLUE
18   GREEN    BLUE     WHITE    GREEN   WHITE

### Question (1) Which color of shirt is the mean color?

In [106]:
mon_color = question_data["MONDAY"].to_list()
tue_color = question_data["TUESDAY"].to_list()
wed_color = question_data["WEDNESDAY"].to_list()
thur_color = question_data["THURSDAY"].to_list()
fri_color = question_data["FRIDAY"].to_list()

In [111]:
colors = mon_color + tue_color + wed_color + thur_color + fri_color

In [119]:
mean_color = Counter(colors).most_common(1)[0][0]
mean_color

'BLUE'

## Question (2) Which color is mostly worn throughtout the week. Same as mean color

In [120]:
mean_color = Counter(colors).most_common(1)[0][0]
mean_color

'BLUE'

### Question (3) The meadian color (withouth arranging in order)

In [127]:
mid_index = int(len(colors)/2)
mid_index
colors[mid_index]

'RED'

## Question (4) Variance of the colors

In [137]:
# Calculate the diversity of strings
unique_strings = set(colors)
occurrences = [colors.count(item) for item in unique_strings]
total_occurrences = len(colors)

# Calculate a simple measure of diversity
diversity = sum([(item / total_occurrences) ** 2 for item in occurrences])

diversity = 1 - diversity
diversity

0.8325761772853186

# Question (5) probability of chosing red

In [132]:
total_colors = len(colors)
counter = 0
for color in colors:
    if color == "RED":
        counter += 1
        
total_red_color = counter

In [136]:
prob_of_red = total_red_color/total_colors
prob_of_red

0.09473684210526316

## Installing psycopg2

In [139]:
!pip install psycopg2

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: psycopg2 in c:\users\daniel udokike\appdata\roaming\python\python310\site-packages (2.9.9)

## Using mysql as I couldn't get postgresql installed on my system and time is against me

In [144]:
!pip install mysql-connector-python

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: mysql-connector-python in c:\users\daniel udokike\appdata\roaming\python\python310\site-packages (8.2.0)
Requirement already satisfied: protobuf<=4.21.12,>=4.21.1 in c:\users\daniel udokike\appdata\roaming\python\python310\site-packages (from mysql-connector-python) (4.21.12)

In [16]:
mydb = mysql.connector.connect(
    host="localhost", 
    user="root",  
    password="securePass123##", 
    database="BincomeInterview"  
)
mycursor = mydb.cursor()

# # Creating table
# mycursor.execute(
#     "CREATE TABLE colors (day VARCHAR(50), color VARCHAR(50) )"
# )

question_data.to_sql(name="colors", con=mycursor)

C:\Users\DANIEL UDOKIKE\AppData\Local\Temp\ipykernel_17708\3837508818.py:14: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  question_data.to_sql(name="colors", con=mycursor)

AttributeError: 'MySQLCursor' object has no attribute 'cursor'

###   Write a program that generates random 4 digits number of 0s and 1s and convert the generated number to base 10.

In [20]:
import random

# Generate a random 4-digit binary number (e.g., '1010')
binary_number = ''.join(str(random.randint(0, 1)) for _ in range(4))

# Convert the binary number to base 10 (decimal)
decimal_number = int(binary_number, 2)

# Print the binary and decimal numbers
print("Binary:", binary_number)
print("Decimal:", decimal_number)

Binary: 1011
Decimal: 11

In [21]:
def fibonacci_summation(n):
    fib_sequence = [0, 1]
    while len(fib_sequence) < n:
        next_fib = fib_sequence[-1] + fib_sequence[-2]
        fib_sequence.append(next_fib)

    # Sum the first 50 Fibonacci numbers
    total = sum(fib_sequence)

    return total

n = 50  # Number of Fibonacci numbers to sum
result = fibonacci_summation(n)

print(f"The sum of the first {n} Fibonacci numbers is: {result}")

The sum of the first 50 Fibonacci numbers is: 20365011073